@charset "ISO-8859-1";
/* Definição das cores */
:root {
    --color-red: #D50000;
    --color-darkorange: #BF360C;
    --color-orange: #FF6D00;
    --color-yellow: #FFAB00;
    --color-green: #2E7D32;
    --color-darkgreen: #00695C;
    --color-blue: #0091EA;
    --color-darkblue: #6200EA;
    --color-pink: #F50057;
    --input-border-color: var(--color-orange) !important;
    --input-hover-border-color:var(--color-orange) !important;
    --input-focus-border-color: var(--color-orange) !important;
}

html,
body {
	height: 100%;
	width: 100%;
    margin: 0px !important;
    background: linear-gradient(to left, var(--color-orange) 0%, var(--color-pink) 100%) !important;
}

.ui-layout-unit,
.ui-layout-resizer{
	background: transparent !important;
	border: transparent !important;
}

.ui-chips .ui-chips-container .ui-chips-token,
.ui-button {
    background-color: var(--color-orange) !important;
    border: var(--color-orange) !important;
    margin: 3px !important;
    color: white !important;
}

.ui-inputgroup .ui-inputgroup-addon {
    background-color: var(--color-orange) !important;
    border-color: var(--color-orange) !important;
}

.ui-inputfield.ui-state-focus:not(.ui-state-error),
.ui-inputfield.ui-state-hover:not(.ui-state-error) {
    border-color: var(--color-orange) !important;
}

.ui-inputgroup .ui-inputgroup-addon>.pi{
	color: white !important;
}

/* Sombras e Bordas*/
.ui-button .ui-button-text,
.ui-inputgroup .ui-inputgroup-addon:first-child,
.ui-inputgroup>.ui-inputtext, .ui-inputgroup>.ui-password{
	box-shadow: 0px 2px 2px black !important;
}


.ui-panel .ui-panel-content{
    border: transparent !important;
    border-radius: 50px !important;
    box-shadow: 3px 5px 3px black;
}

.ui-sidebar{
	border: transparent !important;
    border-radius: 50px 50px 0px 0px !important;
    box-shadow: 3px -5px 3px black;
    padding: 50px !important;
    height: 50%;

}

/* Icones */
.icon-app {
    border-radius: 0px;
    mask-image: url("../images/icone_prefeitura_interativa.svg") !important;
    mask-repeat: no-repeat !important;
    mask-size: contain !important;
    width: 99% !important;
    height: 95% !important;
    top: 10% !important;
    left: 11% !important;
    background-color: white !important;
    -webkit-mask-image: url("../images/icone_prefeitura_interativa.svg") !important;
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-size: contain !important;
}

/* Posicionamento */
.centeredColumn {
    text-align: center !important;
    margin: 0 auto !important;
}

.centerDiv {
  	position: absolute;
  	left: 50%;
  	top: 40%;
  	transform: translate(-50%, -50%);
}
.ui-widget-content .ui-datatable-empty-message,
.ui-widget-header{
	text-align: center !important;
}

.ui-inputgroup .ui-inputgroup-addon{
	margin-left: auto !important;
}

.ui-widget:not(.pi){
	margin-right: auto !important;
}

.ui-inputgroup .ui-button:last-child {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* Exibição de componentes */
.ui-chips-token .ui-chips-token-icon,
.ui-chips .ui-chips-container .ui-chips-input-token {
    display: none !important;
}

.ui-chips .ui-chips-container {
    width: 100% !important;
    background: transparent !important;
    border: transparent !important;
    pointer-events: none !important;
}

::-webkit-scrollbar {
	display: none;
}

/* Fontes */
h1, h2, h3,
.ui-texto,
.ui-inputtext,
.ui-password,
.ui-inputgroup,
.ui-panelgrid,
.ui-button,
.ui-commandlink,
.ui-menu,
.ui-chips,
.ui-tooltip,
.ui-dialog-title,
.ui-datatable thead th,
.ui-datatable .ui-datatable-data tr{
	font-family: fredoka !important;
    color: white !important;
    text-shadow: 2px 2px 2px black !important;
}

.ui-growl-message,
.ui-button, .ui-menu, .ui-chips{
	font-size: 13pt !important;
	font-family: fredoka !important;
}

@font-face{
	font-family: fredoka;
	src: url("../fonts/fredoka.ttf");
	font-style: bold;
} 

/* Media Queries */
@media (max-width: 650px) { 
	.centerDiv{
		position: relative;
	  	left: 0%;
	  	top: 0%;
	  	width: 100% !important;
	  	height: 100% !important;
	  	transform: translate(0%, 0%);
	}
	html,
	body {
		background: #323232 !important
	}
	.ui-panel .ui-panel-content{
        border: transparent !important;
        background: transparent !important;
        box-shadow: 0px 0px 0px transparent !important;
    }
}