@charset "ISO-8859-1";

/* Definicao das cores */
:root {
  --color-red: #d50000;
  --color-primary: #1a237e;
  --color-blue: #304ffe;
  --color-green: #2e7d32;
  --color-tertiary: #2e7d32;
  --color-darkblue: #1a237e;
  --color-secondary: #6200ea;
  --color-white: #EEEEEE;
  --input-hover-border-color: var(--color-primary) !important;
  --input-focus-border-color: var(--color-primary) !important;
}

html,
body,
.div-tramitacao {
  background: linear-gradient(
    to left,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  ) !important;
}

.ui-success-color {
  background-color: var(--color-green) !important;
  border: var(--color-green) !important;
}

.ui-danger-color {
  background-color: var(--color-red) !important;
  border: var(--color-red) !important;
}

.ui-warning-color {
  background-color: var(--color-blue) !important;
  border: var(--color-blue) !important;
}

.ui-secondary-color,
.ui-tooltip-text {
  background-color: var(--color-tertiary) !important;
  border: var(--color-tertiary) !important;
}

.ui-tertiary-color {
  background-color: var(--color-secondary) !important;
  border: var(--color-secondary) !important;
}

.ui-quartiary-color {
  background-color: var(--color-darkblue) !important;
  border: var(--color-darkblue) !important;
}

.ui-white-color {
	background-color: var(--color-white) !important;
  	border: var(--color-white) !important;
}
.ui-layout-unit,
.ui-layout-resizer {
  background: transparent !important;
  border: transparent !important;
}

.ui-tabs-selected,
.ui-accordion-header.ui-state-active,
.ui-paginator-page,
.ui-chips-token,
.ui-button:not(.ui-success-color):not(.ui-danger-color):not(.ui-warning-color):not(.ui-secondary-color):not(.ui-tertiary-color):not(.ui-quartiary-color) {
  background-color: var(--color-primary) !important;
  border: var(--color-primary) !important;
  color: white !important;
}

.ui-datatable thead th.ui-state-active {
  background: var(--color-blue) !important;
}

.ui-icon-check,
.ui-fieldset-legend,
.ui-wizard-step-title,
.ui-chkbox .ui-chkbox-box.ui-state-active,
.ui-inputgroup .ui-inputgroup-addon-checkbox,
.ui-inputgroup .ui-inputgroup-addon {
  background-color: var(--color-blue) !important;
  border-color: var(--color-blue) !important;
}

.ui-inputfield .ui-state-focus:not(.ui-state-error),
.ui-inputfield .ui-state-hover:not(.ui-state-error) {
  border-color: var(--color-primary) !important;
}

.ui-messages-close,
.ui-icon-check,
.ui-inputgroup-addon:first-child,
.ui-inputgroup .ui-inputgroup-addon > .pi {
  color: white !important;
}

.ui-messages-info,
.ui-growl-info {
  background: var(--color-green) !important;
}

.ui-messages-warn,
.ui-growl-warn {
  background: var(--color-yellow) !important;
}

.ui-messages-error,
.ui-growl-error {
  background: var(--color-red) !important;
}

.ui-messages-fatal,
.ui.growl-fatal {
  background: black !important;
}

/* Sombras e Bordas*/
.ui-fieldset:not(.ui-white-color),
.ui-fieldset-legend:not(.ui-white-color),
hr.ui-separator {
  border: 1px solid var(--color-primary) !important;
  background: var(--color-primary) !important;
}

.ui-fieldset-legend,
.ui-fieldset {
  /*border-radius: 50px !important;*/
}

.ui-image {
  border-radius: 20px !important;
  border: 2px solid white !important;
  box-shadow: 1px 2px 2px black !important;
}

.ui-inputgroup .ui-state-error:not(.ui-selectonemenu-trigger) {
  border: 3px solid var(--color-red) !important;
}

.ui-chips-token {
  border-radius: 30px !important;
  box-shadow: 1px 2px 3px black !important;
}

ul,
.ui-chips-container {
  height: 100% important;
}

.div-tramitacao,
.ui-image-profile,
.ui-panel .ui-panel-content {
  border: transparent !important;
  border-radius: 50px !important;
  box-shadow: 3px 5px 3px black;
  vertical-align: middle !important;
}

.ui-sidebar {
  border: transparent !important;
  border-radius: 50px 50px 0px 0px !important;
  box-shadow: 3px -5px 3px black;
}

.ui-tabs .ui-tabs-panels,
.ui-galleria {
  border: transparent !important;
}

/* Icones */
.icon-app {
  border-radius: 0px;
  mask-image: url("../images/icone_prefeitura_interativa.svg") !important;
  mask-repeat: no-repeat !important;
  mask-size: contain !important;
  width: 99% !important;
  background: var(--color-primary) !important;
  height: 95% !important;
  top: 10% !important;
  left: 11% !important;
  -webkit-mask-image: url("../images/icone_prefeitura_interativa.svg") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: contain !important;
}

.ui-fieldset-toggler.ui-icon,
.ui-messages-info-icon,
.ui-messages-warn-icon,
.ui-messages-error-icon,
.ui-messages-fatal-icon,
.ui-growl-image-info,
.ui-growl-image-warn,
.ui-growl-image-error,
.ui-growl-image-fatal,
.ui-fieldset-legend {
  color: white !important;
}

/* Posicionamento e tamanho*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px !important;
}

.ui-image {
  height: 100px !important;
  width: 150px !important;
  margin: 10px !important;
}

.div-tramitacao {
  margin: 20px !important;
}

.ui-image-profile {
  height: 60px !important;
  width: 60px !important;
  margin: 10px !important;
}

.ui-input-busca {
  width: 100% !important;
  border-radius: 50px !important;
}

.ui-tabs-selected,
.ui-accordion-header.ui-state-active,
.ui-paginator-page,
.ui-chips .ui-chips-container .ui-chips-token,
.ui-button {
  margin: 3px !important;
}

.ui-dialog.ui-confirm-dialog .ui-dialog-content > span,
.ui-dialog-footer,
.centeredColumn {
  text-align: center !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.left {
  margin-right: auto !important;
  margin-left: 0 !important;
}
.ui-datatable-tablewrapper table {
  table-layout: auto !important;
}

.ui-chips-container,
.ui-datepicker-trigger.ui-button,
.ui-calendar > .ui-inputfield,
.ui-selectonemenu-label {
  height: 100% !important;
  margin: 0 !important;
}

.ui-sidebar {
  padding: 20px !important;
  height: 100% !important;
  z-index: 1000 !important;
  overflow: scroll;
}

.ui-inputgroup {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.centerDiv {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.ui-inputgroup-addon,
.ui-dialog {
  text-align: center !important;
  width: 40% !important;
}

.ui-selectonemenu {
  min-width: 0 !important;
}

.ui-icon-closethick {
  margin-right: 3% !important;
  margin-top: 3% !important;
}

.ui-widget-content .ui-datatable-empty-message,
.ui-widget-header {
  text-align: center !important;
}

.ui-inputgroup-addon {
  margin-left: auto !important;
}

.ui-inputgroup > .ui-inputgroup-addon-checkbox,
.ui-inputgroup > .ui-selectonemenu,
.ui-inputgroup > .ui-password,
.ui-inputgroup > .ui-inputtext,
.ui-inputgroup > .ui-spinner {
  margin-right: auto !important;
}

.ui-inputgroup .ui-button:last-child {
  margin-right: auto !important;
  margin-left: auto !important;
}

.ui-chips .ui-chips-onlyview,
.ui-rating {
  width: 100% !important;
}

.ui-fluid .ui-button {
  width: auto !important;
}

.ui-chart {
  margin-bottom: 50px;
}
/* Exibicao de componentes */
.ui-invisible,
.ui-chips-onlyview .ui-chips-token-icon,
.ui-chips-onlyview .ui-chips-input-token {
  display: none !important;
}

:focus {
  outline: transparent !important;
}

.ui-growl-item-container {
  opacity: 100% !important;
}

.ui-chips .ui-chips-onlyview {
  background: transparent !important;
  border: transparent !important;
  pointer-events: none !important;
}

.ui-chips-container {
  pointer-events: none !important;
}

.ui-chips-token:not(.ui-chips-onlyview) {
  pointer-events: all !important;
}

::-webkit-scrollbar {
  display: none;
}

/* Fontes */
h,
h1,
h2,
h3,
.ui-selectmanycheckbox,
.ui-calendar > .ui-inputfield,
.ui-inputtextarea,
.ui-fieldset-legend,
.ui-tabs-header,
.ui-tabs-header.ui-state-active a,
.ui-accordion-header,
.ui-wizard-step-title,
.ui-tooltip-text,
.ui-chips-input-token input,
.ui-paginator-page,
.ui-texto,
.ui-inputtext,
.ui-password,
.ui-inputgroup,
.ui-panelgrid,
.ui-button,
.ui-commandlink,
.ui-menu,
.ui-chips,
.ui-tooltip,
.ui-dialog-title,
.ui-datatable thead th,
.ui-selectonemenu,
.ui-dialog.ui-confirm-dialog .ui-dialog-content > span,
.ui-datatable .ui-datatable-data tr {
  line-height: 30px !important;
}

.ui-growl-title {
  font-weight: unset !important;
  font-size: 22px !important;
}

.ui-messages-error,
.ui-messages-info,
.ui-messages-warn,
.ui-messages-fatal,
.ui-texto,
.div-tramitacao,
.ui-growl-item-container {
  color: white !important;
}

.ui-growl-message {
  text-align: justify;
  text-justify: inter-character;
}

/* Media Queries */
@media (max-width: 650px) {
  .ui-dialog,
  .centerDiv {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100% !important;
    height: 100% !important;
    transform: translate(0%, 0%);
  }
  html,
  body {
    background: #323232 !important;
  }
  .ui-panel .ui-panel-content {
    border: transparent !important;
    background: transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
  }
}
