@charset "ISO-8859-1";

:root {
    --color-red: #D50000;
    --color-darkorange: #BF360C;
    --color-orange: #FF6D00;
    --color-yellow: #FFAB00;
    --color-green: #2E7D32;
    --color-darkgreen: #00695C;
    --color-blue: #0091EA;
    --color-darkblue: #6200EA;
    --color-pink: #F50057;
    --input-border-color: var(--color-orange) !important;
    --input-hover-border-color:var(--color-orange) !important;
    --input-focus-border-color: var(--color-orange) !important;
}

html,
body {
    margin: 0 !important;
}

.icon-app {
    border-radius: 0px;
    mask-image: url("../images/icone_prefeitura_interativa.svg") !important;
    mask-repeat: no-repeat !important;
    width: 99% !important;
    height: 95% !important;
    top: 10% !important;
    left: 11% !important;
    background-color: white;
    -webkit-mask-image: url("../images/icone_prefeitura_interativa.svg") !important;
    -webkit-mask-repeat: no-repeat !important;
}

.centeredColumn {
    text-align: center !important;
}

.ui-chips-token .ui-chips-token-icon,
.ui-chips .ui-chips-container .ui-chips-input-token {
    display: none !important;
}

.ui-chips .ui-chips-container {
    width: 100% !important;
    background: transparent !important;
    border: transparent !important;
    pointer-events: none !important;
}

.ui-chips .ui-chips-container .ui-chips-token,
.ui-button {
    background-color: var(--color-orange) !important;
    border: var(--color-orange) !important;
    margin: 3px !important;
}

.ui-danger-color {
    background-color: var(--color-red) !important;
    border-color: var(--color-red) !important;
}

.ui-success-color {
    background-color: var(--color-green) !important;
    border-color: var(--color-green) !important;

}

.ui-panelgrid .ui-panelgrid-cell,
.ui-button.ui-button-icon-only .ui-icon,
.ui-button-text-only .ui-button-text,
.ui-menu .ui-menu-list .ui-widget-header:first-child,
.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link,
.ui-chips .ui-chips-container .ui-chips-token,
.ui-datatable .ui-datatable-data>tr>td,
.ui-datatable thead th .ui-column-title {
    font-weight: bold !important;
    color: white !important;
}

.ui-menu .ui-menu-list .ui-widget-header:first-child,
.ui-datatable table {
    background: linear-gradient(to right, var(--color-orange) 0%, var(--color-pink) 100%) !important;
}

.ui-datatable thead th {
    background-color: transparent !important;
}

.ui-inputgroup .ui-inputgroup-addon {
    background-color: var(--color-orange) !important;
    border-color: var(--color-orange) !important;
}

.ui-inputfield.ui-state-focus:not(.ui-state-error),
.ui-inputfield.ui-state-hover:not(.ui-state-error) {
    border-color: var(--color-orange) !important;
}